* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
}
/* nav */
nav {
  background-color: #111;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background-color: rgb(135, 131, 131);
  border-radius: 50px;
  padding: 10px 20px;
}
.inputBar {
  border: none;
  background-color: transparent;
  color: white;
  outline: none; /* To remove outline in input */
}
.inputBar::placeholder {
  color: lightgray;
}
.searchIcon {
  width: 20px;
  height: auto;
}
.limitedOffer {
  color: antiquewhite;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 4px solid green;
  cursor: pointer;
}

.navBottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.navBottom ul .menuItem {
  list-style: none;
  font-size: 20px;
  margin-right: 50px;
  font-weight: 600;
  color: lightgray;
  cursor: pointer;
}
/* slider */
.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}
.sliderItem {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}
.sliderImg {
  z-index: 1;
}
.sliderText {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 50px;
  font-weight: 400;
  color: white;
  text-align: center;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 50px;
  font-weight: 400;
  color: white;
  text-align: center;
  z-index: 1;
}
.buyButton {
  position: absolute;
  top: 50%;
  right: 14%;
  font-size: 20px;
  font-weight: 900;
  color: rgb(244, 231, 231);
  border: 1px solid gray;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(132, 124, 124);
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}
.buyButton:hover {
  background-color: black;
  color: wheat;
}
.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}
/* features */
.feature {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.featureItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px 10px;
}
.imageIcon {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 20px;
  font-weight: 900;
  margin: 10px;
}
.featureDesc {
  width: 50%;
  height: 100px;
  color: rgb(121, 120, 120);
}
/* product */
.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}
.productImg {
  width: 50%;
}
.productDetails {
  width: 500px;
  position: absolute;
  top: 20%;
  right: 10%;
}
.productTitle {
  font-size: 50px;
  font-weight: 900;
}
.productPrize {
  margin: 20px 0px;
  font-size: 20px;
}
.productDesc {
  color: gray;
  margin-bottom: 20px;
}
.colors,
.sizes {
  margin-bottom: 20px;
  display: flex;
}

.outerBorder {
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid transparent;
  transition: border 0.5s;
  cursor: pointer;
}
.outerBorder:hover {
  border: 2px solid grey;
}
.color {
  box-sizing: border-box;
  background-color: #000000;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}
.outerBorder:last-child .color {
  background-color: blue;
}

.size {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.5s, color 0.5s;
}
.size:hover {
  background-color: black;
  color: white;
}

.productButton {
  float: right;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}
.productButton:hover {
  background-color: black;
  color: white;
}

.payment {
  position: absolute;
  background-color: white;
  display: none;
  flex-direction: column;
  width: 550px;
  height: 550px;
  top: 10%;
  left: 40%;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 50px;
}

.paymentTitle {
  color: rgb(166, 165, 165);
}
.paymentDetails {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.paymentDetails input {
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 10px;
}
::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: rgb(154, 153, 153);
}
.paymentDetails label {
  font-size: 15px;
  font-weight: 700;
}
.cardTitle {
  font-size: 15px;
  color: grey;
  margin-bottom: 5px;
}
.cardIcon {
  width: 40px;
  margin-right: 5px;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.cardDetails input {
  width: 30%;
}
.Checkout {
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0px;
  border: none;
  background-color: #369e62;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 50px;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
/* gallery */
.gallery {
  padding: 50px;
  display: flex;
}
.galleryItem {
  flex: 1;
  padding: 50px;
}
.galleryImg {
  width: 100%;
}
.galleryTitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* new season */
.nSeason {
  display: flex;
}

.sItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nsTitle {
  margin-bottom: 20px;
}

.sbutton {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s;
  font-weight: 400;
}
.sbutton:hover {
  background-color: #369e62;
  color: white;
}
.sImg {
  width: 100%;
}
/* gallery */
.gallery {
  padding: 50px;
  display: flex;
}
.galleryItem {
  flex: 1;
  padding: 50px;
}
.galleryImg {
  width: 100%;
}
.galleryTitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
